<input id="search" size="40" type="search" ng-model="searchString" placeholder="Search by name" />

<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Type</th>
        <th>Site Admin</th>
         <th>Profile Pic</th>
        <!--<th>Department</th>
        <th>Email</th>
        <th>Country</th> -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let home of homes">
        <td><span>{{home.id}}</span></td>
        <td><span><a href="">{{home.login}}</a></span></td>
        <td><span>{{home.type}}</span></td>
        <td><span>{{home.site_admin}}</span></td>
        <td><span><img src="{{home.avatar_url}}"></span></td>
        
        <!--<td><span>{{friend.department}}</span></td>
        <td><span>{{friend.email}}</span></td>
        <td><span>{{friend.country}}</span></td> -->
      </tr>
      </tbody>
    </table>
  </div>


